<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">FIS-SST Cinemas</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a [routerLink]="['/movies']">Filmy</a></li>
      <li class="active"><a [routerLink]="['/repertoire']">Repertuar</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false"> <span class="glyphicon glyphicon-map-marker"></span> {{chosenCity}} <span
            class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a *ngFor="let city of cities" (click)="cityClicked($event)"> {{city}}</a></li>
        </ul>
      </li>
      <li><a [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span> Rejestracja</a></li>
      <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Logowanie</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>