HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
src/main/resources/shared/movie-service.yml
src/main/resources/shared/show-service.yml
src/main/resources/shared/reservation-service.yml
src/main/resources/shared/user-service.yml
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

src/main/resources/shared/cinema-service.yml
src/main/resources/shared/movie-service.yml
src/main/resources/shared/reservation-service.yml
src/main/resources/shared/show-service.yml
src/main/resources/shared/user-service.yml
